.admin h2{
    color:rgba(0,0,0,.84);
    font-size: 40px;
}
.admin p{
    color:rgba(0,0,0,.54);
    font-size: 20px;
}
.flexi{
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
 }
.btn_pink{
    background-color: #f48687;
    width:120px;
    height:40px;
    color:white;
    border: none;
}


.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
    border-right:3px solid  #f48687 !important;
}
.ant-menu-item-selected{
    color:#f48687 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: rgba(244,134,135,0.2) !important;
}
.box_post{
    width:70%;
    margin: 0 auto;
    padding-top: 100px;
}

/* BlisS */
.ant-layout-header{
    background-color: #EEEEEE
!important;

}
.ant-layout, .ant-layout *{
    background-color: white !important;
}
/* blog folder */
.fullWidth{
    min-width: 100%;
    min-height: 100vh;
    padding: 0px 50px;
    /* border:5px solid black; */
}

.fullWidth .draft{
    min-height: 100%;
    font-size: 20rem;
}

.editor-button{
    background-color: #f48687 !important;
      color: #fff;
      border: none;
      padding: .5em;
      cursor: pointer;
      margin-bottom: 1em;
      margin-right: 1em;
      border-radius: .2em;
}
pre{
      border: 1px solid #ccc;
      background: #f0f0f0;
      border-radius: .2em;
      padding: .5em;
      margin: 0;
}
        
pre > pre{
    background: none;
    border: none;
    padding: 0;
}

.save-button{
    position: absolute;
    top:15px;
    right: 15px;
}

.titulo-input{
    position: absolute;
    top:12px;
    left: 300px;
    width:60%;
}

.titulo-input input{
    font-weight: bold;
    font-size: 2rem;
}

.box_post h2{
    text-align: center;
    color:rgba(0,0,0,.54)!important;
    font-size: 40px;
}

.ant-form-item-label label{
    color:rgba(0,0,0,.54) !important;

}
.line{
    background-color: rgba(0,0,0,.15)!important;
    width:100%;
    height:1px;
    border: none;
}
.inp_t{
    border: none;
    width:100%;
}
.inp_t::placeholder { color:#d9d9da; }

.box_btn{
    margin-top: 50px;
    text-align: center;
}
.box_img{
    width:900px;
    height:50px;
    margin: 0 auto;
    border: 1px dashed #d9d9d9;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input:focus, textarea:active{
    border: green;
}

.prev{
    display: flex;
    flex-wrap: wrap;
}
.prev img{
    width:100%;
    height:auto;
}
.prev div{
    width:200px;
    height:200px;
    margin:5px;
    border: 1px solid #d9d9d9;
    padding: 1%;
    border-radius: 2px;
    overflow: hidden;
}
.ant-menu-submenu-title:hover, .ant-menu-item:hover {
    color: rgb(244,134,135) !important;
}
.ant-menu-submenu-arrow{
    /*display: none;*/
    background-color: red !important;
    color: black !important;
}
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow{
    color:red !important;
}

.ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item:hover {
    color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item:select {
    background-color: pink;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff3e0;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {

    border-right: 3px solid #ffb74d;
}
.ant-menu-inline .ant-menu-submenu-title:hover {
    color:#e3801b;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
    background: -webkit-gradient(linear, left top, right top, from(#e3801b), to(#e3801b));
    background: -webkit-linear-gradient(left,  #e3801b, #e3801b);
    background: -o-linear-gradient(left, #e3801b, #e3801b);
    background: linear-gradient(to right,  #e3801b, #e3801b);
}




