.contacto{
    margin-top:10px;
    padding-bottom: 10px;
    background-color: white;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height:90vh;
}
.back_ctc{

    width:300px;
    flex-grow: 1;
    height:100%;
    background-position: center;
    background-size: cover;
    background-image: url('https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/26994375_10159906950840293_5849486948823192023_n.jpg?_nc_cat=0&oh=607b1f33a75f8813c5364b175cbb2c1a&oe=5BBC228B');
}
.form_ctc{
    width:300px;
    height:100%;
    flex-grow: 1;
    box-shadow: -5px 1px 11px 1px rgba(150,150,150,0.25);
    padding-top: 10%;
    text-align: center;
}
.form_ctc h3{
    font-size: 3.5rem;
    line-height: 2.7rem;
    margin-bottom: 30px;


}
.form_ctc div{
    border-bottom: 1px solid #dbdbdb;
    width:60%;
    margin: 20px auto;


}
.form_ctc div input, .form_ctc div textarea{
    background-color: transparent;
    border: none;
    width:100%;
    font-size: 1rem;
    line-height: 1.8rem;

}
input:focus, textarea:focus{
    outline: none;
}
.nos_text p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
}
@media(max-width: 450px){
    .back_ctc{
        display: none;
    }
}